form{
    background-color: aqua;
    width: 900px;
    border-radius: 30px;
    text-align: center;
}

input{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}
label{
    font-size:24px ;
}
p{
    font-size: 25px;
}
button{
    background-color: green;
    color: white;
    width: 350px;
    height: 30px;
    border-radius: 20px;
}